html {
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
  background: #000152;
}

.main-container {
  width: 90%;
  margin: 10px auto;
  background: #fff;
  padding: 5px;
  border-radius: 10px;
}

.main-container h1 {
  text-align: center;
}

.text-box {
  margin: 0px auto;
  margin-bottom: 10px;
  width: 70%;
}

p{
  text-align: center;
  margin: 3px 0;
  font-size: 17px;
}

.timestamp {
  color: #a9a9a9;
  font-size: 10px;
}

.orderSelector {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 40%;
}

.panel {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background: #e8e8e8;
}